<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Project Management{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- Add your custom styles here -->
     <style>
        body {
            padding-top: 56px; /* Adjust based on the height of your header */
        }
        header {
             /* Bootstrap dark color */
            padding: 10px 0;
            margin-bottom: 20px;
        }
        header h1 {
            color: #fff;
        }
    </style>
</head>
<body>
  <header>
    <header class="navbar navbar-dark fixed-top bg-dark mb-5">
        <div class="container-fluid">
            <h1 class="navbar-brand">{% block header_title %}Project Management{% endblock %}</h1>
        </div>
  </header>

  <div>
    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- Add your custom scripts here -->
</body>
</html>
